@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: rgb(39, 39, 63);
  background-color: rgb(106, 106, 155);

}

.App {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Poppins';
}

.skiApp__navbar {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.skiApp__navbar-links {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: flex-start; */
  align-items: center;
}

/* .skiApp__navbar-links_container {
  display: flex;
  flex-direction: row;
} */

.area-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  margin: auto;
  justify-content: space-evenly;
  /* ^^^margin: auto centers element to it's parent ^^^ */
  background-color: white;
  padding: 0 20px 20px 20px;
  border-radius: 6px;
  box-shadow: 0 20px 20px -10px rgb(39, 39, 63);;
  margin-bottom: 20px;
}

/* .area-form label, .area-form input {
  line-height: 0;

} */

.area-form .pass-input label {
  line-height: 1;
}

.area-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-between;
  width: 90%;
  /* padding-inline-start: 0; */
  padding-inline-end: 0;
}

.area-item {
  background: white;
  width: 150px;
  height: max-content;
  box-shadow: 0 20px 20px -10px  rgb(39, 39, 63);;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 2em;
}

.area-item h3, .area-item p{
  font-size: 15px;
}

.delete-button {
  color: white;
  background-color: rgb(199, 127, 127);
  font-weight: bold;
}

.edit-button {
  color: white;
  background-color: rgb(108, 108, 4);
  font-weight: bold;
}

.pass-input {
  display: flex;
  justify-content: center;
}

.pass-input label {
  line-height: unset !important;
}

.pass-group-label {
  margin: 5px;
}

.close-button {
  color: white;
  background-color: rgb(199, 127, 127);
  font-weight: bold;
}

.area-item img {
  max-width: 50px;
}